#navbar
{
    background-color: rgba(0, 0, 0, 0.9);
}
.navbar-brand
{
    color: rgb(255 255 255);
}
#headerwrap 
{
    background: url(../img/Wallpaper.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    background-size: 100%;
    background-size: cover;
}